
<div class="row">
    <div style="width:50vw;" class="col-lg-9">
        
            <div class="jumbotron">
                <h3 class="display-4">Начните работу с TestNUT</h3>
                <p class="lead">Современное программное обеспечение для эффективного управления, отслеживания и организации ваших тестовых сценариев.</p>
                <hr class="my-4">
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Узнать больше</a>
                </p>
            </div>

            <div class="card bg-light mb-3" >
                    <div style="font-weight:bold" class="card-header">
                        Активность 
                        <a style="float: right; margin: 0; padding: 0; font-size: 1.1em" href="/startpage" class="navbar-brand">История</a>
                    </div>             
                    <div class="card-body">
                            <h5><%= date  %></h5>
                            <table class="table table-active" >
                                <tbody>
                                    <tr>
                                        <td>Изменение тестового сценария 1987_12</td>
                                        <td>Пользователь: testUser</td>
                                    </tr>
                                    <tr>
                                            <td>Изменение тестового сценария 88_1</td>
                                            <td>Пользователь: testUser</td>
                                        </tr>                                       
                                </tbody>
                            </table> 
                    </div>
            </div>

            <div class="card bg-light mb-3" >
                    <div style="font-weight:bold" class="card-header">Полезные ссылки</div>
                    <div class="card-body">
                      <p class="card-text">Здесь будут располагаться полезные ссылки (если таковые будут)</p>
                    </div>
            </div>

    </div>

    <div style="width:30vw;" class="col-lg-3">

            <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Требуется обновление эталонов для теста <a href="#" class="alert-link">Test_10_12_Concurent</a>
            </div>

            <div class="alert alert-dismissible alert-info">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    Требуется обновление эталонов для теста <a href="#" class="alert-link">Test_11_09_GL</a>
            </div>

    </div>
</div>
